{**
* PrestaShop module created by VEKIA, a guy from official PrestaShop community ;-)
*
* @author    VEKIA https://www.prestashop.com/forums/user/132608-vekia/
* @copyright 2010-2019 VEKIA
* @license   This program is not free software and you can't resell and redistribute it
*
* CONTACT WITH DEVELOPER http://mypresta.eu
* support@mypresta.eu
*}

<li class="nav-item"><a data-toggle="tab" href="#homeonsaletab" class="homeonsaletab nav-link">{l s='Promotions' mod='homeonsaletab'}</a></li>