.btn,.btn:hover,.btn:focus,.btn:active ,
.btn-teal:not([disabled]):not(.disabled).active, .btn-teal:not([disabled]):not(.disabled).active:focus, .btn-teal:not([disabled]):not(.disabled):active, .btn-teal:not([disabled]):not(.disabled):active:focus, .show>.btn-teal.dropdown-toggle, .show>.btn-teal.dropdown-toggle:focus,
.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:not([disabled]):not(.disabled).active:focus, .btn-outline-primary:not([disabled]):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
  box-shadow:unset;
  -webkit-box-shadow: unset;
  border-color: unset;
}
.btn{
  border-radius: 4px;
}
.btn-outline-primary{
  border: 1px #16c5d0 solid !important;
  color: #16c5d0 !important;
}
.btn-outline-primary{
  border: 1px #16c5d0 solid !important;
  color: #16c5d0 !important;
}
.btn-outline-primary.active, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary:focus, .btn-outline-primary:hover {
  color: #1599a4 !important;
  background-color: transparent!important;
  border-color: #1599a4!important;
}