@font-face {
  font-family: 'IranSans';
  src: url('../fonts/iransans/iransans.eot');
  src: url('../fonts/iransans/iransans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iransans/iransans.woff') format('woff'),
  url('../fonts/iransans/iransans.ttf') format('truetype'),
  url('../fonts/iransans/iransans.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'IranSansBolder';
  src: url('../fonts/iransans/iransans_bold.woff') format('woff');
}

@font-face {
  font-family: 'IranSansBold';
  src: url('../fonts/iransans/iransans_medium.woff') format('woff');
}

@font-face {
  font-family: 'IranSans';
  src: url('../fonts/iransans/iransans_ultralight.woff') format('woff');
}

@import "~mdbootstrap/css/bootstrap.min.css";
@import "~mdbootstrap/css/mdb.css";
@import "custom-mdb";

#user-profile {
  padding: 12px;
}

input:focus, button:focus {
  outline: none;
}

* {
  direction: rtl;
}

.h3, h3, .h4, h4 {
  font-size: unset;
}

.md-form label {
  left: unset;
  right: 0;
  transform-origin: 100% 50%;
}

body {
  font-family: IranSans, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  text-align: right;
}

body.modal-open {
  overflow: hidden;

}

main {
  transition: opacity 0.15s linear;
}

body.modal-open main {

  filter: blur(5px);
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.modal,
.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.in {
  opacity: 0.5;
}

.modal-header {
}

.modal-header:after {
  /* content: ""; */
  /* display: table; */
  /* clear: both; */
}

.modal-header .close {
  position: absolute;
  left: 14px;
  top: 12px;
  border: 1px #c8c8c8 solid;
  color: #c8c8c8;
  border-radius: 40%;
  background: white;
  padding: 0 5px;
  z-index: 4;
  font-size: 12px;
}

.modal-title {
  margin: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  padding: 35px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:after {
  content: "";
  display: table;
  clear: both;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 30px auto;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 900px;
  }
}

.quickview {
}

.product .product-title,
.quickview .product-title {
  font-size: 18px;
  font-family: IranSansBold;
}

.product .specification,
.quickview .specification {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 274px;
}

.product .specification .item,
.quickview .specification .item {
  background: #e7f9fa;
  padding: 10px 20px;
  border-radius: 25px;
  color: black;
  width: 132px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 12px;
}

.quickview .specification .item .name {
}

.product .specification .item .value,
.quickview .specification .item .value {
  font-family: IranSansBold;
}

.product .image {
  width: 300px;
}

.quickview .image {
  width: 170px;
}

.product .tools,
.quickview .tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
}

.product .tools .tool-item,
.quickview .tools .tool-item {
  font-size: 22px;
  display: flex;
  margin: 10px 0;
  color: #16c5d0;
}

.quickview .product-description {
}

.quickview .product-description .title {
  font-size: 16px;
  font-family: IranSansBold;
  margin: 14px 0 15px;

}

.quickview .product-description .description {
}


.product .price-box,
.quickview .price-box {
  box-shadow: 0 -1px 20px rgba(36, 36, 36, 0.05);
  padding: 10px 35px;
}

.product .price-box {
  margin-top: 40px
}

.product .price-box .title,
.quickview .price-box .title {
  color: #929292;
  font-size: 12px;
}

.product .price-box .price,
.quickview .price-box .price {
  color: #16c5d0;
  font-size: 16px;
  font-family: IranSansBold;
}

.product .btn.add-to-cart,
.quickview .btn.add-to-cart {
  background: #16c5d0;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 50px;
}


header.main-header {
  background-color: #16c5d0;
  overflow: hidden;
}

header.main-header .navbar-top {
  margin: 14px 0 36.6px;
}

header.main-header .header-logo {
  background: url("../img/header-logo.png") no-repeat;
  width: 98px;
  height: 71px;
  background-size: contain;
}

header.main-header .header-logo img {
  width: 100%;
  height: 100%;
}

header.main-header .search {
  width: 100%;
  padding: 22px;
  border: none;
  border-radius: 45px;
}

header.main-header .search::placeholder {
  color: #ff6c00;
  opacity: .5;
}

header.main-header .header-items {
  margin: 17px 0px;
  padding: 0;
}

header.main-header .header-items li {
  position: relative;
  float: left;
  font-size: 30px;
  display: block;
  line-height: 12px;
  padding: 1px;
  margin-right: 20px;
}

header.main-header .header-items li:last-child {
  margin-right: 0;
}

header.main-header .header-items li .item-count {
  font-size: 10px;
  background: #ff3636;
  border-radius: 50%;
  padding: 4px 6px 2px;
  margin: -31px -10px 0;
  color: white;
  position: absolute;
  z-index: 2333;
}


.carousel,
.carousel-inner {
  position: relative;
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .carousel-item {
  position: relative;
  display: none;
  transition: left 0.6s ease-in-out;
}

.carousel-inner > .carousel-item > a > img,
.carousel-inner > .carousel-item > img {
  line-height: 1;
}

@media (-webkit-transform-3d), (transform-3d) {
  .carousel-inner > .carousel-item {
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .carousel-item.active.right,
  .carousel-inner > .carousel-item.next {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .carousel-item.active.left,
  .carousel-inner > .carousel-item.prev {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .carousel-item.active,
  .carousel-inner > .carousel-item.next.left,
  .carousel-inner > .carousel-item.prev.right {
    left: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}

.carousel-control.left {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80000000", endColorstr="#00000000", GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#80000000", GradientType=1);
}

.carousel-control:focus,
.carousel-control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control .icon-next,
.carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
  line-height: 1;
}

.carousel-control .icon-prev {
  left: 50%;
  margin-left: -10px;
}

.carousel-control .icon-next {
  right: 50%;
  margin-right: -10px;
}

.carousel-control .icon-prev:before {
  content: "\2039";
}

.carousel-control .icon-next:before {
  content: "\203A";
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
  text-shadow: none;
}

@media (min-width: 576px) {
  .carousel-control .icon-next,
  .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

#wrapper .breadcrumb[data-depth="1"] {
  display: none;
}


.banners-box {
  background-color: #16c5d0;
  overflow: hidden;
}

.banners-box .slider {
  width: 100%;
}

.banners-box .slider img {
  width: 100%;
}

.banners-box .banner {
  display: none;
  transition: none;
}

.banners-box .banner img {
  width: 100%;
}

.top-box {
  background: white;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
  margin-bottom: 40px;
}


.content {
}

.content .cat-box {
  width: 100%;
}

.content .cat-box .title {
  color: #1c1c1c;
  size: 16px;
  margin: 17px 0 17px;
  font-family: IranSansBold;
  font-weight: 400;
  text-align: center;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}
.categories {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

.categories li .cat-item {
  background: url("../img/cat-bg.png") no-repeat;
  //width: 182px;
  width: 140px;
  background-size: contain;
  //height: 80px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 4px;
}

.categories li .cat-item span {
  float: right;
  margin: 17px 19px 0 0;
}

.top-box .categories {
  margin-top: 30px;
  margin-bottom: 25px;
  overflow: hidden;
}

.top-box .categories li {
  float: right;
}

.cat-icon-1 {
  background-image: url("../img/cat-icon.png");
  background-repeat: no-repeat;
  background-position: 50%;
  width: 65px;
  height: 65px;
  display: inline-block;
  float: left;
  margin: 0px -15px 0;
}

.content .section .navbar-top {
  border-bottom: 1px #e9e9e9 solid;
}

.content .section .navbar-top .nav {
  display: flex;
  margin: 0 auto -1.5px;
}

.content .section .navbar-top .nav .nav-item {
  flex: 1;
}

.content .section .navbar-top .nav .nav-item .nav-link {
  display: block;
  position: relative;
  z-index: 5;
  font-size: 15px;
  text-align: center;
  color: #b7b7b7;
  padding: 5px;
}

.content .section .navbar-top .nav .nav-item .nav-link.active {
  border-bottom: 2px solid #16c5d0;
  color: #16c5d0;
  font-family: IranSansBold;
}

.content .section .tabs {
  margin-top: 20px;
}

.content .section .tabs .featured-products {
  display: none;
}

.content .section .tabs .featured-products.active {
  display: block;
}

.products {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  justify-content: right;
}

.products .product-item {
  box-shadow: 0 5px 20px 0 rgba(36, 36, 36, 0.16);
  background: white;
  border-radius: 4px;
  padding: 7px 10px;
  position: relative;
  display: grid;
}


section#products {
  padding: 0 15px;
}

.products .product-item .product-flags {
  position: absolute;
  left: 10px;
  top:7px;
}

.products .product-item .product-flags .product-flag {
  margin-bottom: 5px;
  padding: 1px 12px;
  color: white;
}

.products .product-item .product-flags .product-flag.discount {
  background: red;
}

.products .product-item .product-flags .product-flag.new {
  background: #2ed578;
}

.products .product-item .image {
  width: 100%;
}

.products .product-item .image img {
  width: 100%;
}

.products .product-item .title {
  font-size: 16px;
  font-family: IranSansBold;
  font-weight: normal;
  color: #1c1c1c;
  margin: 0;
}

.products .product-item .description {
  font-size: 12px;
  font-weight: normal;
  color: #b2b2b2;
}

.products .product-item .tool-box {
  border-radius: 4px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.products .product-item .tool-box .product-price-and-shipping {
  flex: 1;
  border: 1px solid #16c5d0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.products .product-item .tool-box .price {
  color: #16c5d0;
  font-family: IranSansBold;
  float: right;
  padding: 8px 6px;
  font-size: 12px;
  text-align: center;
}

.products .product-item .tool-box .btn-buy {
  color: #fff;
  background: #16c5d0;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


.content .section .features {
  display: none;
  margin: 40px 0 44px;
}

.content .section .features .feature-box {
  flex: 1;
  text-align: center;
}

.content .section .features .feature-box .image {
  background: url('../img/feature-bg.png');
  width: 87px;
  height: 84px;
  margin: auto;
}

.content .section .features .feature-box .title {
  font-size: 16px;
  margin-top: 15px;
}

footer {
  background: #eee;
  margin-top: 20px;
}

footer .top {
  padding-top: 40px;
  border-bottom: 1px #fff solid;
  padding-bottom: 30px;
}

footer .top .links {
  flex: 1;
}

footer .top .links .title {
  font-family: IranSansBold;
  color: #1c1c1c;
  margin-bottom: 8px;
  display: block;
}

footer .top .links ul {
}

footer .top .links ul li {
}

footer .top .links ul li a {
  color: #707070;
  line-height: 28px;
}

footer .top .download-box {
  width: 356px;
}

footer .top .download-box img {
  margin: 5px;
}

footer .bottom {
  border-bottom: 1px #fff solid;
  padding-top: 35px;
  padding-bottom: 20px;
}

footer .bottom .about-us {
}

footer .bottom .about-us .title {
  font-family: IranSansBold;
  margin-bottom: 10px;
}

footer .bottom .about-us .text {
}

footer .cp {
  text-align: center;
  line-height: 60px;
}


.sidebar {
  background: white;
  position: fixed;
  height: 100%;
  width: 510px;
  top: 0;
  right: 0;
  box-shadow: -10px 0 30px #00000047;
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-header {
  margin-top: 30px;
  margin-right: 20px;
  display: flex;
}

.sidebar .sidebar-header .close {
  background: transparent;
  border: 0;
  font-size: 20px;
  line-height: 10px;
  margin-left: 6px;
}

.sidebar .sidebar-header .title {
  font-family: IranSansBold;
  font-size: 18px;
}

.sidebar .sidebar-body {
  height: inherit;
  overflow-y: auto;
}

.sidebar .sidebar-body .cart-items {
}

.sidebar .sidebar-body .cart-items .item {
  display: flex;
  background: white;
  margin: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 7px;
}

.sidebar .sidebar-body .cart-items .item .item-image {
  margin-left: 10px;
}

.sidebar .sidebar-body .cart-items .item .item-image img {
  width: 80px;
}

.sidebar .sidebar-body .cart-items .item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .sidebar-body .cart-items .item .item-content .product-name {
  font-family: IranSansBold;
  font-weight: normal;
  font-size: 16px;
}

.sidebar .sidebar-body .cart-items .item .item-content .product-name .description {
  font-size: 14px;
  margin-right: 5px;
  font-family: IranSans;
  color: #999a9a;
}

.sidebar .sidebar-body .cart-items .item .item-content .product-price {
  font-family: IranSansBold;
  color: #16c5d0;
  font-size: 16px;
  line-height: 14px;
}

.sidebar .sidebar-body .cart-items .item .quantity {
  display: flex;
  background: #f0f0f0;
  line-height: 30px;
  height: 30px;
  margin: auto;
  border-radius: 4px;
  padding: 0 10px;
}

.sidebar .sidebar-body .cart-items .item .quantity .quantity-add {
  border: 0;
  padding: 4px 0px;
  background: transparent;
}

.sidebar .sidebar-body .cart-items .item .quantity .quantity-remove {
  border: 0;
  padding: 4px 0px;
  background: transparent;
}


.sidebar .sidebar-body .cart-items .item .quantity input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 40px;
  text-align: center;
  border: none;
  background: transparent;
}

.sidebar .sidebar-body .cart-items .item .quantity input::-webkit-inner-spin-button,
.sidebar .sidebar-body .cart-items .item .quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.sidebar .sidebar-body .cart-items .item .item-remove {
  margin: auto 10px auto 0;
  padding: 11px;
  font-size: 22px;
  line-height: 14px;
}

.sidebar .sidebar-body .cart-items .item .item-remove a {
  color: #ff3d00;
}

.sidebar .sidebar-footer {
}

.sidebar .sidebar-footer .cart-information {
  background: #e7f9fa;
  margin: 10px;
  border-radius: 4px;
  padding: 2px 10px;
}

.sidebar .sidebar-footer .cart-information .item {
  border-bottom: 1px white solid;
  line-height: 35px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebar-footer .cart-information .item:last-child {
  border-bottom: none;
}

.sidebar .sidebar-footer .cart-information .item.bold {
  font-family: IranSansBold
}

.sidebar .sidebar-footer .cart-information .item.bolder {
  font-family: IranSansBolder
}

.sidebar .sidebar-footer .cart-information .item .name {
}

.sidebar .sidebar-footer .cart-information .item .value {
}

.sidebar .sidebar-footer .cart-information .item .value.green {
  color: #31bb35
}

.sidebar .sidebar-footer .cart-print {
  border: #16c5d0 solid 1px;
  margin: 0 10px;
  border-radius: 4px;
  color: #16c5d0;
  font-size: 16px;
  line-height: 45px;
}

.sidebar .sidebar-footer .cart-print ion-icon {
  font-size: 25px;
  line-height: 45px;
  float: right;
  padding: 9px 10px 9px 15px;
}

.sidebar .sidebar-footer .cart-buttons {
  display: flex;
  margin: 10px;
}

.sidebar .sidebar-footer .cart-buttons .btn-buy {
  border-radius: 4px;
  background-color: #16c5d0;
  display: block;
  text-align: center;
  line-height: 50px;
  color: white;
  flex: 1;
}

.sidebar .sidebar-footer .cart-buttons .btn-remove {
  padding: 12px;
  color: #ff3d00;
  margin-right: 10px;
  font-size: 23px;
  height: 50px;
  border: 1px #ff3d00 solid;
  border-radius: 4px;
}


#search_filters,
#search_filters_brands,
#search_filters_suppliers {
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1.563rem;
  background: #fff;
  padding: 1.563rem 1.25rem;
}

#search_filters .filter-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#search_filters .filter-header p.h6 {
  color: #ff6c00;
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

#search_filters .filter-header .clear-all-wrapper {
}

#search_filters .filter-header .clear-all-wrapper .btn {
  font-size: 16px;
  color: #4e5158;
}

#search_filters .facet .title {
  justify-content: space-between;
  margin-bottom: 20px;
}

#search_filters .facet .facet-title,
#search_filters_brands .facet .facet-title,
#search_filters_suppliers .facet .facet-title {
  font-size: 15px;
  font-family: IranSansBold;
  margin-bottom: 0;
}

#search_filters .title[aria-expanded="true"] .collapse-icons .add {
  display: none;
}

#search_filters .title .collapse-icons .remove {
  display: none;
}

#search_filters .title[aria-expanded="true"] .collapse-icons .remove {
  display: block;
}

#search_filters .facet .title .collapse-icons {
  display: flex;
  margin: 0 !important;
  align-items: center;
}


#search_filters .facet,
#search_filters_brands .facet,
#search_filters_suppliers .facet {
  padding-top: 0.625rem;
  padding-bottom: 15px;
}

#search_filters .facet .collapse,
#search_filters_brands .facet .collapse,
#search_filters_suppliers .facet .collapse {
  display: none;
}

#search_filters .facet .collapse.in,
#search_filters_brands .facet .collapse.in,
#search_filters_suppliers .facet .collapse.in {
  display: block;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.35s;
  transition-property: height;
}

#search_filters .facet .facet-label,
#search_filters_brands .facet .facet-label,
#search_filters_suppliers .facet .facet-label {
  text-align: right !important;
  display: flex;
  margin-bottom: 10px;
}

#search_filters .facet .facet-label .custom-checkbox {
}

#search_filters .facet .facet-label .custom-checkbox input {
  display: none
}

#search_filters .facet .facet-label .custom-checkbox .ps-shown-by-js {
  width: 30px;
  height: 30px;
  display: block !important;
  margin-left: 15px;
  border-radius: 4px;
  border: 2px #a2a2a5 solid;
}

#search_filters .facet .facet-label.active .custom-checkbox .ps-shown-by-js {
  background: #ff6c00;
  border-color: #ff6c00;
}

#search_filters .facet .facet-label .custom-checkbox .ps-shown-by-js ion-icon {
  display: none
}

#search_filters .facet .facet-label.active .custom-checkbox .ps-shown-by-js ion-icon {
  display: block;
  font-size: 27px;
  color: #fff;
}

#search_filters .facet .facet-label a,
#search_filters_brands .facet .facet-label a,
#search_filters_suppliers .facet .facet-label a {
  color: #3a3a3a;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: IranSansBold;
}

#search_filters_brands .facet,
#search_filters_suppliers .facet {
  padding-top: 0;
}

#search_filters_brands .facet .facet-label,
#search_filters_suppliers .facet .facet-label {
  margin-bottom: 0.3125rem;
}

.sort-box {
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1.563rem;
  background: #fff;
  padding: 1.563rem 1.25rem 10px;
}

.sort-box h2.title {
  font-size: 17px;
  color: #ff6c00;
}

.sort-box ul {
}

.sort-box ul li {
}

.sort-box ul li .radio {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px #a2a2a5 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.sort-box ul li .radio.active {
  border: 2px #ff6c00 solid;
}

.sort-box ul li .radio.active:before {
  content: '';
  background: #ff6c00;
  width: 10px;
  height: 10px;
  display: block;
  z-index: 20;
  margin: 0px;
  border-radius: 50%;
}

.sort-box ul li a {
  margin: 20px 0;
  color: #3a3a3a;
  font-family: IranSansBold;
  font-size: 14px;
  display: flex;
  line-height: 25px;
}

.product-comments {
  margin-top: 25px;
}

.product-comments .header {
}

.product-comments .header .title {
  font-family: IranSansBolder;
  font-size: 18px;
  font-weight: normal;
}

.product-comments .header .new-comment {
  color: #16c5d0;
}

.product-comments .comments {
  margin-top: 30px;
}

.product-comments .comments .item {
  display: flex;
  margin-bottom: 20px;
}

.product-comments .comments .item .image {
  width: 48px;
  background: linear-gradient(#e9e9e9, #dddddd);
  height: 46px;
  border-radius: 50%;
  display: block;
  margin-left: 20px;
}

.product-comments .comments .item .image img {
  color: red
}

.product-comments .comments .item .content {
  width: 100%;
}

.product-comments .comments .item .content .header {
  display: flex;
  justify-content: space-between;
}

.product-comments .comments .item .content .header .title {
  font-size: 14px;
  font-family: IranSansBold;
}

.product-comments .comments .item .content .header .stars {
  color: red
}

.product-comments .comments .item .content .body {
  margin-top: 11px;
}

.new-comment-box {
  border-top: 1px #dddddd solid;
  padding-top: 15px;
}

.new-comment-box .title {
  font-family: IranSansBold;
  font-size: 16px;
}

.new-comment-box .comment-form {
  margin-top: 20px;
  overflow: hidden;
}

.new-comment-box .comment-form .stars {
  text-align: left;
}

.new-comment-box .comment-form .stars {
}

.new-comment-box .comment-form .create-box {
  display: flex;
}

.new-comment-box .comment-form .create-box .name {
  border: 1px #dddddd solid;
  border-radius: 4px;
  margin-left: 10px;
}

.new-comment-box .comment-form .create-box .name .icon {
}

.new-comment-box .comment-form .create-box .name input {
}

.new-comment-box .comment-form .create-box .comment {
  border: 1px #ddd solid;
  width: 100%;
  display: flex;
  line-height: 47px;
}

.new-comment-box .comment-form .create-box .comment .icon {
  font-size: 25px;
  margin: 10px;
}

.new-comment-box .comment-form .create-box .comment textarea {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 60px;
  width: 100%;
  border: 0px;
  outline: 0;
}

.new-comment-box .comment-form .btn-comment {
  background: #16c5d0;
  border: 0;
  box-shadow: none;
  border-radius: 4px;
  float: left;
  margin-top: 30px;
  padding: 0 50px;
}

.grade-stars .star-content {
  left: auto !important;
}

.order-header {
  text-align: center
}

.order-header {
}

img {
  width: 160px;
}

.order-content {
  margin-top: 30px;
}

.order-content .order-steps {
}

.order-content .order-steps .order-header {
}

.order-content .order-steps .steps-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto 55px;
}

.order-content .order-steps .steps-box:before {
  content: "";
  background: #ddd;
  width: 75%;
  height: 1px;
  display: block;
  position: absolute
}

.order-content .order-steps .steps-box .step-details {
  width: 30px;
  height: 30px;
  background: white;
  position: relative;
  border-radius: 90px;
  border: 1px #dddddd solid;
}

.order-content .order-steps .steps-box .step-details {
  display: flex;
}

.order-content .order-steps .steps-box .step-details.current {
  border: 1px #31bb35 solid;
}

.order-content .order-steps .steps-box .step-details:after {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: attr(data-title);
  white-space: nowrap;
}

.order-content .order-steps .steps-box .step-details.current:before,
.order-content .order-steps .steps-box .step-details.complete:before {
  content: "";
  background: #31bb35;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50px;
  margin: auto;
}

.order-steps .checkout-step {
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
  margin-bottom: 15px;
}

.order-steps .checkout-step .step-title {
  font-size: 16px;
  padding: 12px 20px;
  border-bottom: 1px #EEEEEE solid;
}

.order-steps .checkout-step .content {
  padding: 0 20px 10px;
}


.order-content .checkout-sunmmary {
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.16);
}

.order-content .checkout-sunmmary .header {
  padding: 12px 30px 5px;
}

.order-content .checkout-sunmmary .header h3 {
  font-size: 18px;
  font-family: IranSansBold;
  font-weight: normal;
}

.order-content .checkout-sunmmary .body {
  padding: 0 30px;
}

.checkout-sunmmary-products {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto;
}

.checkout-sunmmary-products .product-item {
  width: 135px;
}

.checkout-sunmmary-products .product-item .item-image {
}

.checkout-sunmmary-products .product-item .item-image a {
}

.checkout-sunmmary-products .product-item .item-image a .image {
  width: 100%;
  border-radius: 4px;
}

.checkout-sunmmary-products .product-item .item-body {
  margin-top: 10px;
}

.checkout-sunmmary-products .product-item .item-body .name {
  font-size: 16px;
  font-family: IranSansBold;
}


.order-content .checkout-sunmmary .footer {
  background: #e7f9fa;
  padding: 10px 10px 5px;
  margin-top: 20px;
}

.order-content .checkout-sunmmary .footer .item {
  border-bottom: 1px solid #fff;
  line-height: 35px;
  font-size: 16px;
  justify-content: space-between;
  display: flex;
}

.order-content .checkout-sunmmary .footer .item:last-child {
  border-bottom: none;
}

.order-content .checkout-sunmmary .footer .item.bolder {
  font-family: IranSansBolder;
}

.order-content .checkout-sunmmary .footer .item .value.text-green {
  color: #31bb35;
}

body#checkout section.checkout-step .step-edit {
  text-transform: lowercase;
  font-weight: 400;
}

body#checkout section.checkout-step .step-edit .edit {
  font-size: 1rem;
}

body#checkout section.checkout-step .not-allowed {
  cursor: not-allowed;
  opacity: 0.5;
}

body#checkout section.checkout-step .content,
body#checkout section.checkout-step .done,
body#checkout section.checkout-step .step-edit {
  display: none;
}

body#checkout section.checkout-step.-unreachable .step-title {
  cursor: not-allowed;
  opacity: 0.5;
}

body#checkout section.checkout-step.-current .step-title {
  cursor: default;
}

body#checkout section.checkout-step.-current .content {
  display: block;
}

body#checkout section.checkout-step.-current.-reachable.-complete .done,
body#checkout section.checkout-step.-current.-reachable.-complete .step-edit {
  display: none;
}

body#checkout section.checkout-step.-current.-reachable.-complete .step-number {
  display: inline-block;
}

body#checkout section.checkout-step.-current.-reachable.-complete .content {
  display: block;
}

body#checkout section.checkout-step.-reachable.-complete h1 .done {
  display: inline-block;
}

body#checkout section.checkout-step.-reachable.-complete h1 .step-number {
  display: none;
}

body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 0.125rem;
  color: #7a7a7a;
}

body#checkout section.checkout-step.-reachable.-complete .content {
  display: none;
}

body.page-authentication {
  background: #aae9ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  background: #fff url("../img/login-bg.png");
  width: 450px;
  background-position: -9px -8px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 30px 60px 50px;
}

.login-form .login-log {
  background: url("../img/login-logo.png");
  width: 183px;
  height: 108px;
  margin: 90px auto 60px;
  background-repeat: no-repeat;
}

.login-form .form-group {
  position: relative;
}

.login-form .form-group .form-control-label {
  font-family: IranSansBold;
  font-size: 26px;
  margin-bottom: 20px;
  display: block;
}

.login-form .form-group .form-control {
  border-radius: 4px;
  border: 1px solid #ddd;
  line-height: 46px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.login-form .form-group .form-control::placeholder {
  direction: ltr;
  color: #dddddd;
}

.login-form .form-group .countDownTimer {
  position: absolute;
  left: 0;
  margin-top: -32px;
  margin-left: 7px;
  font-size: 12px;
  background: #ffe6af;
  padding: 3px 5px 1px;
  border-radius: 6px;
  color: #ffb100;
  font-family: IranSansBold;
}

.login-form .form-group .re-send-sms {
  position: absolute;
  left: 0;
  margin-top: -36px;
  margin-left: 5px;
}

.login-form .send-sms-box .note {
  margin-top: 10px;
  font-size: 13px;
  padding: 0;
  border: none;
}

.login-form .form-control-submit {
  background: #16c5d0;
  border: 0;
  color: #fff;
  margin: 40px 0;
  width: 100%;
  display: block;
  line-height: 24px;
  border-radius: 4px;
}


body#checkout section.checkout-step .content .form-group {
  display: flex;
  line-height: 35px;
  align-items: center;
  border-bottom: 1px #dddddd solid;
  margin-bottom: 20px;
  align-items: center;
}

body#checkout section.checkout-step .content .form-group label {
  margin: 0;
}

body#checkout section.checkout-step .content .form-group .form-input {
  border: none;
  flex: 1;
}

body#checkout section.checkout-step .content .form-group .form-input .form-control {
  border: none;
  width: 100%;
}

body#checkout .checkout-step .address-selector {
}

body#checkout .checkout-step .address-selector .address-item {
  border: 1px solid #eee;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

body#checkout .checkout-step .address-selector .address-item .address-item-radio-box {
  padding: 14px 7px 16px;
  width: 46px;
  margin-bottom: 0;
  border-left: 1px #eeeeee solid;
  margin-left: 10px;
}

body#checkout .checkout-step .address-selector .address-item .address-item-body {
  margin: 0;
  display: flex;
  flex: 1;
  padding: 15px 0;
}

body#checkout .checkout-step .address-selector .address-item .address-item-body strong {
  font-family: IranSansBold;
  margin-left: 5px;
}

body#checkout .checkout-step .address-selector .address-item .address-item-options {
  margin-right: auto;
}

body#checkout .checkout-step .address-selector .address-item .address-item-options a {
  color: #16c5d0;
  margin-left: 14px;
}

body#checkout .checkout-step .step-footer {
  display: flex;
  justify-content: space-between;
}


.user-profile {
  margin-top: 40px;
}

.user-profile .right-box {
  padding: 20px;
}

.user-profile .right-box .user-info {
  display: flex;
  align-items: center;
}

.user-profile .right-box .user-info .image {
  margin-left: 25px;
}

.user-profile .right-box .user-info .image .avatar {
  width: 100px;
  height: 100px;
  background: #ededed;
  border-radius: 50%;
}

.user-profile .right-box .user-info .info {
}

.user-profile .right-box .user-info .info h3 {
  font-size: 22px;
  font-family: IranSansBold;
}

.user-profile .right-box .user-info .info .user-phone {
}

.user-profile .right-box .links {
  margin: 30px 0 0;
}

.user-profile .right-box .links .item {
}

.user-profile .right-box .links .item a {
  font-size: 18px;
  padding: 10px;
  color: black;
  display: block;
}

.user-profile .left-box .address-selector .title {
  font-size: 18px;
  font-family: IranSansBolder;
  margin-bottom: 20px;
}

.user-profile .left-box .address-selector .address-item {
  border: 1px solid #eee;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}


.user-profile .left-box .address-selector .address-item .address-item-radio-box {
  padding: 14px 7px 16px;
  width: 46px;
  margin-bottom: 0;
  border-left: 1px #eeeeee solid;
  margin-left: 10px;
}

.user-profile .left-box .address-selector .address-item .address-item-body {
  margin: 0;
  display: flex;
  flex: 1;
  padding: 15px 0;
}

.user-profile .left-box .address-selector .address-item .address-item-body strong {
  font-family: IranSansBold;
  margin-left: 5px;
}

.user-profile .left-box .address-selector .address-item .address-item-options {
  margin-right: auto;
}

.user-profile .left-box .address-selector .address-item .address-item-options a {
  color: #16c5d0;
  margin-left: 14px;
}


@media (min-width: 576px) {

  .categories{
    grid-template-columns: auto auto auto;
  }
  .content {
    .section {
      .navbar-top{
        .nav{
          .nav-item{
            .nav-link{
              font-size: 16px;
            }
          }
        }
      }
      .features{
        display: flex;
      }
    }
  }

  .products {
    grid-template-columns: auto auto auto;
    .product-item {
      width: 156.5px;
    }
  }
  section#products {
    .products {
      grid-template-columns: auto auto;
      .product-item{
        width: 157px;
      }
    }
  }
}

@media (min-width: 768px) {
  .banners-box {
    .slider {
      width: 535px;
      float: right;
    }
    .banner {
      display: block;
      width: 142px;
      float: left;
    }
  }

  .top-box{
    .categories{
      grid-template-columns: auto auto auto;
    }
  }

  .content {

    .cat-box {
      padding-left: 33px;
      width: unset;
      .title{
        background: transparent;
        text-align: unset;
        margin-bottom: 10px;
      }
    }
    .section {
      padding-right: 0;
      border-right: 1px #e9e9e9 solid;
      .navbar-top{
        margin-top: 33px;
        .nav{
          .nav-item{

          }
        }
      }
      .tabs {
        margin-top: 18px;

        .featured-products {
          margin-right: 20px;

          .products {
            .product-item {

            }
          }
        }
      }
    }
  }

  .categories{
    grid-template-columns: auto;
    li{

      .cat-item{
        width: 183px;
        height: 84px;
        span{
          margin: 23px 22px 0 0;
        }
        .cat-icon-1{
          margin: 8px -15px;
        }
      }
    }
  }

  .products {
    grid-template-columns: auto auto;
    .product-item {
      width: 217px;
    }
  }
  section#products {
    .products {
      grid-template-columns: auto auto auto;
      .product-item{
        width: 156.5px;
      }
    }
  }
}

@media (min-width: 992px) {

  .banners-box {
    .slider {
      width: 727px;
    }
    .banner {
      width: 193px;
    }
  }

  .top-box{
    .categories{
      grid-template-columns: auto auto auto auto auto auto;
      li{
        .cat-item{
          width: 140px;
          height: 62px;
          span{
            margin: 16px 17px 0 0;
          }
          .cat-icon-1{
            margin: 0px -15px;
          }
        }
      }
    }
  }


  .content {
    .section {
      .navbar-top{
        .nav{
          width: 80%;
        }
      }
      .tabs {
        margin-right: 24px;
        margin-top: 36px;
        .featured-products {
          margin-right: 20px;

          .products {
            .product-item {

            }
          }
        }
      }
    }
  }

  .products {
    grid-template-columns: auto auto auto auto;
    .product-item {
      width: 152.5px;
    }
  }
  section#products {
    .products {
      grid-template-columns: auto auto auto auto;
      .product-item{
        width: 157.5px;
      }
    }
  }
}

@media (min-width: 1200px) {

  .banners-box {
    .slider {
      width: 861px;
    }
    .banner {
      width: 229px;
    }
  }

  .top-box{
    .categories{
      grid-template-columns: auto auto auto auto auto auto;
      li{
        .cat-item{
          width: 161px;
          height: 71px;
          span{
            margin: 20px 20px 0 0;
          }
          .cat-icon-1{
            margin: 4px -15px;
          }
        }
      }
    }
  }


  .content {
    .section {
      .tabs {
        .featured-products {
          margin-right: 20px;

          .products {
            .product-item {

            }
          }
        }
      }
    }
  }

  .products {
    grid-template-columns: auto auto auto auto auto;

    .product-item {
      width: 154px;
    }
  }
  section#products {
    .products {
      .product-item{
        width: 191px;
      }
    }
  }
}

@media (min-width: 1400px) {

  .container {
    max-width: 1366px;
  }
  .banners-box {
    .slider {
      width: 1037px;
    }
    .banner {
      width: 276px;
    }
  }
  .content {
    .section {
      .tabs {
        .featured-products {
          margin-right: 20px;

          .products {
            .product-item {
              width: 162.5px;
            }
          }
        }
      }
    }
  }

  .products {
    grid-template-columns: auto auto auto auto auto auto;
    .product-item {

    }
  }
  section#products {
    .products {
      grid-template-columns: auto auto auto auto auto;
      .product-item{
        width: 183px;
      }
    }
  }
}



