
{extends file='layouts/layout-both-columns.tpl'}

{block name='left_column'}{/block}

{block name='content_wrapper'}
    <div id="content-wrapper">
        {hook h="displayContentWrapperTop"}
        {block name='content'}
            <p>Hello world! This is HTML5 Boilerplate.</p>
        {/block}
        {hook h="displayContentWrapperBottom"}
    </div>
{/block}
