@font-face {
    font-family: 'ibuy-icons';
    src:  url('../fonts/ibuy-icons/ibuy-icons.eot?5vu1s4');
    src:  url('../fonts/ibuy-icons/ibuy-icons.eot?5vu1s4#iefix') format('embedded-opentype'),
    url('../fonts/ibuy-icons/ibuy-icons.ttf?5vu1s4') format('truetype'),
    url('../fonts/ibuy-icons/ibuy-icons.woff?5vu1s4') format('woff'),
    url('../fonts/ibuy-icons/ibuy-icons.svg?5vu1s4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ibuy-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user .path1:before {
    content: "\e900";
    color: rgb(255, 255, 255);
}
.icon-user .path2:before {
    content: "\e901";
    margin-left: -0.9658203125em;
    color: rgb(255, 108, 0);
}
.icon-cart .path1:before {
    content: "\e902";
    color: rgb(255, 255, 255);
}
.icon-cart .path2:before {
    content: "\e903";
    margin-left: -0.9931640625em;
    color: rgb(255, 255, 255);
}
.icon-cart .path3:before {
    content: "\e904";
    margin-left: -0.9931640625em;
    color: rgb(255, 108, 0);
}
.icon-cart .path4:before {
    content: "\e905";
    margin-left: -0.9931640625em;
    color: rgb(255, 108, 0);
}
.icon-cart .path5:before {
    content: "\e906";
    margin-left: -0.9931640625em;
    color: rgb(255, 108, 0);
}
