@font-face {
    font-family: 'IranSans';
    src: url('../fonts/iransans/iransans.eot');
    src: url('../fonts/iransans/iransans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iransans/iransans.woff') format('woff'),
    url('../fonts/iransans/iransans.ttf') format('truetype'),
    url('../fonts/iransans/iransans.svg#svgFontName') format('svg');
    font-display: fallback;
}
@font-face {
    font-family: 'IranSansBolder';
    src: url('../fonts/iransans/iransans_bold.woff') format('woff');
}
@font-face {
    font-family: 'IranSansBold';
    src: url('../fonts/iransans/iransans_medium.woff') format('woff');
}
@font-face {
    font-family: 'IranSans';
    src: url('../fonts/iransans/iransans_ultralight.woff') format('woff');
}

input:focus,button:focus {
    outline: none;
}
*{
    direction: rtl;
}

body {
    font-family: IranSans, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
}
body.modal-open{
    overflow:hidden;

}
main{
    transition: opacity 0.15s linear;
}
body.modal-open main{

    filter: blur(5px);
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}
.modal,
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
}
.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.modal-header {
}
.modal-header:after {
    /* content: ""; */
    /* display: table; */
    /* clear: both; */
}
.modal-header .close {
    position: absolute;
    left: 14px;
    top: 12px;
    border: 1px #c8c8c8 solid;
    color: #c8c8c8;
    border-radius: 40%;
    background: white;
    padding: 0 5px;
    z-index: 4;
    font-size: 12px;
}
.modal-title {
    margin: 0;
    line-height: 1.5;
}
.modal-body {
    position: relative;
    padding: 35px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-footer:after {
    content: "";
    display: table;
    clear: both;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 30px auto;
    }
    .modal-sm {
        max-width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 900px;
    }
}

.quickview{}
.quickview .product-title{
    font-size: 18px;
    font-family: IranSansBold;
}
.quickview .specification{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 274px;
}
.quickview .specification .item{
    background: #e7f9fa;
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    width: 132px;
    justify-content: space-between;
    display: flex;
    margin-bottom: 12px;
}
.quickview .specification .item .name{}
.quickview .specification .item .value{font-family: IranSansBold;}
.quickview .image{
    width: 170px;
}
.quickview .tools{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.quickview .tools .tool-item{
    font-size: 22px;
    display: flex;
    margin: 10px 0;
    color: #16c5d0;
}

.quickview .product-description{}
.quickview .product-description .title{
    font-size: 16px;
    font-family: IranSansBold;
    margin: 14px 0 15px;

}
.quickview .product-description .description{}


.quickview .price-box{
    box-shadow: 0 -1px 20px rgba(36, 36, 36, 0.05);
    padding: 10px 35px;
}
.quickview .price-box .title{
    color: #929292;
    font-size: 12px;
}
.quickview .price-box .price{
    color: #16c5d0;
    font-size: 16px;
    font-family: IranSansBold;
}

.quickview .btn.add-to-cart{
    background: #16c5d0;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 50px;
}



header.main-header
{
    background-color: #16c5d0;
    overflow: hidden;
}
header.main-header .navbar {
    margin: 14px 0 36.6px;
}
header.main-header .header-logo
{
    background: url("../img/header-logo.png") no-repeat;
    width: 98px;
    height: 71px;
    background-size: contain;
}
header.main-header .header-logo img
{
    width: 100%;
    height: 100%;
}
header.main-header .search
{
    width: 100%;
    padding: 22px;
    border: none;
    border-radius: 45px;
}

header.main-header .search::placeholder
{
    color:#ff6c00;
    opacity: .5;
}

header.main-header .header-items
{
    margin: 17px 0px;
    padding: 0;
}

header.main-header .header-items li
{
    position: relative;
    float: left;
    font-size: 30px;
    display: block;
    line-height: 12px;
    padding: 1px;
    margin-right: 20px;
}

header.main-header .header-items li:last-child
{
    margin-right: 0;
}
header.main-header .header-items li .item-count
{
    font-size: 10px;
    background: #ff3636;
    border-radius: 50%;
    padding: 4px 6px 2px;
    margin: -31px -10px 0;
    color: white;
    position: absolute;
    z-index: 2333;
}


.carousel,
.carousel-inner {
    position: relative;
}
.carousel-inner {
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .carousel-item {
    position: relative;
    display: none;
    transition: left 0.6s ease-in-out;
}
.carousel-inner > .carousel-item > a > img,
.carousel-inner > .carousel-item > img {
    line-height: 1;
}
@media (-webkit-transform-3d), (transform-3d) {
    .carousel-inner > .carousel-item {
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner > .carousel-item.active.right,
    .carousel-inner > .carousel-item.next {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .carousel-item.active.left,
    .carousel-inner > .carousel-item.prev {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .carousel-item.active,
    .carousel-inner > .carousel-item.next.left,
    .carousel-inner > .carousel-item.prev.right {
        left: 0;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.5;
}
.carousel-control.left {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80000000",endColorstr="#00000000",GradientType=1);
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#80000000",GradientType=1);
}
.carousel-control:focus,
.carousel-control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}
.carousel-control .icon-next,
.carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-family: serif;
    line-height: 1;
}
.carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .icon-prev:before {
    content: "\2039";
}
.carousel-control .icon-next:before {
    content: "\203A";
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
    text-shadow: none;
}
@media (min-width: 576px) {
    .carousel-control .icon-next,
    .carousel-control .icon-prev {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

#wrapper .breadcrumb[data-depth="1"] {
    display: none;
}



.banners-box {
    background-color: #16c5d0;
    overflow: hidden;
    padding-bottom: 25px;
}
.banners-box .slider{
    float: right;
    width: 860px;
    margin-left: 20px;
}
.banners-box .slider img{
    width: 100%;
}
.banners-box .banner{
    float: left;
    width: 229px;
}
.banners-box .banner img{
    width: 100%;
}

.top-box{
    background: white;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
}


.content{}
.content .cat-box{
    padding-left: 33px;
}
.content .cat-box .title{
    color: #1c1c1c;
    size: 16px;
    margin: 17px 0 10px;
    font-family: IranSansBold;
    font-weight: normal;
}
.categories{}
.categories li .cat-item{
    background: url("../img/cat-bg.png") no-repeat;
    width: 182px;
    height: 80px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-bottom: 4px;
}
.categories li .cat-item span{float: right;margin: 22px 27px;}

.top-box .categories {
    margin-top: 30px;
    margin-bottom: 25px;
    overflow: hidden;
}
.top-box .categories li {
    float: right;
}

.cat-icon-1{
    background: url("../img/cat-icon.png") no-repeat;
    background-position: center;
    width: 67px;
    height: 66px;
    display: inline-block;
    float: left;
    margin: 8px -15px 0;
}

.content .section{
    border-right: 1px #e9e9e9 solid;
    padding-right: 0;
}
.content .section .navbar{
    border-bottom: 1px #e9e9e9 solid;
    margin-top: 33px;
}
.content .section .navbar .nav
{
    overflow: hidden;
    width: 80%;
    margin: 0 auto -1.5px;
    display: flex;
}
.content .section .navbar .nav .nav-item{flex: 1;}

.content .section .navbar .nav .nav-item .nav-link
{
    display: block;
    position: relative;
    z-index: 5;
    font-size: 16px;
    text-align: center;
    color: #b7b7b7;
    padding: 5px;
}
.content .section .navbar .nav .nav-item .nav-link.active
{
    border-bottom: 2px #16c5d0 solid;
    color: #16c5d0;
    font-family: IranSansBold;
}

.content .section .tabs{
    margin-right: 24px;
    margin-top: 36px;
}
.content .section .tabs .featured-products{
    display: none;
}
.content .section .tabs .featured-products.active{
    display: block;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.products .product-item{
    box-shadow: 0 5px 20px 0 rgba(36, 36, 36, 0.16);
    background: white;
    width: 159px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 7px 10px;
    position: relative;
}
.content .section .tabs .featured-products .products .product-item{
    margin-right: 15px;
}
section#products .products .product-item
{
    width: 190px;
    margin-right: 23.7px;
}

.products .product-item .product-flags{
    position: absolute;
    left: 10px;
}
.products .product-item .product-flags .product-flag{
    margin-bottom: 5px;
    padding: 1px 12px;
    color: white;
}
.products .product-item .product-flags .product-flag.discount{
    background: red;
}
.products .product-item .product-flags .product-flag.new{
    background: #2ed578;
}

.products .product-item .image{
    width: 100%;
}

.products .product-item .image img{
    width: 100%;
}

.products .product-item .title{
    font-size: 16px;
    font-family: IranSansBold;
    font-weight: normal;
    color:#1c1c1c;
    margin: 0;
}
.products .product-item .description{
    font-size: 12px;
    font-weight: normal;
    color: #b2b2b2;
}

.products .product-item .tool-box
{
    border: 1px #16c5d0 solid;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 2px;
}

.products .product-item .tool-box .price
{
    color: #16c5d0;
    font-family: IranSansBold;
    float: right;
    padding: 8px 6px;
    font-size: 12px;
    text-align: center;
}
.products .product-item .tool-box .btn-buy
{
    color: white;
    background: #16c5d0;
    float: left;
    padding: 7px 10px;
}


.content .section .features
{
    display: flex;
    margin: 40px 0 44px;
}
.content .section .features .feature-box
{
    flex: 1;
    text-align: center;
}
.content .section .features .feature-box .image
{
    background: url('../img/feature-bg.png');
    width: 87px;
    height: 84px;
    margin: auto;
}
.content .section .features .feature-box .title
{
    font-size: 16px;
    margin-top: 15px;
}
footer
{
    background: #eee;
}
footer .top{padding-top: 40px;border-bottom: 1px #fff solid;padding-bottom: 30px;}
footer .top .links{
    flex: 1;
}
footer .top .links .title{
    font-family: IranSansBold;
    color: #1c1c1c;
    margin-bottom: 8px;
    display: block;
}
footer .top .links ul{}
footer .top .links ul li{}
footer .top .links ul li a{
    color: #707070;
    line-height: 28px;
}
footer .top .download-box{
    width: 356px;
}
footer .top .download-box img{
    margin: 5px;
}

footer .bottom {
    border-bottom: 1px #fff solid;
    padding-top: 35px;
    padding-bottom: 20px;
}
footer .bottom .about-us {}
footer .bottom .about-us .title {
    font-family: IranSansBold;
    margin-bottom: 10px;
}
footer .bottom .about-us .text {}
footer .cp {
    text-align: center;
    line-height: 60px;
}



.sidebar{
    background: white;
    position: fixed;
    height: 100%;
    width: 510px;
    top: 0;
    right: 0;
    box-shadow: -10px 0 30px #00000047;
    display: flex;
    flex-direction: column;
}
.sidebar .sidebar-header{
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
}
.sidebar .sidebar-header .close{
    background: transparent;
    border: 0;
    font-size: 20px;
    line-height: 10px;
    margin-left: 6px;
}
.sidebar .sidebar-header .title {
    font-family:IranSansBold;
    font-size: 18px;
}
.sidebar .sidebar-body{
    height: inherit;
    overflow-y: overlay;
}
.sidebar .sidebar-body .cart-items{}
.sidebar .sidebar-body .cart-items .item{
    display: flex;
    background: white;
    margin: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 7px;
}
.sidebar .sidebar-body .cart-items .item .item-image{
    margin-left: 10px;
}
.sidebar .sidebar-body .cart-items .item .item-image img{
    width: 80px;
}
.sidebar .sidebar-body .cart-items .item .item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar .sidebar-body .cart-items .item .item-content .product-name{
    font-family: IranSansBold;
    font-weight: normal;
    font-size: 16px;
}
.sidebar .sidebar-body .cart-items .item .item-content .product-name .description{
    font-size: 14px;
    margin-right: 5px;
    font-family: IranSans;
    color: #999a9a;
}
.sidebar .sidebar-body .cart-items .item .item-content .product-price{
    font-family: IranSansBold;
    color: #16c5d0;
    font-size: 16px;
    line-height: 14px;
}
.sidebar .sidebar-body .cart-items .item .quantity{
    display: flex;
    background: #f0f0f0;
    line-height: 30px;
    height: 30px;
    margin: auto;
    border-radius: 4px;
    padding: 0 10px;
}

.sidebar .sidebar-body .cart-items .item .quantity .quantity-add{
    border: 0;
    padding: 4px 0px;
    background: transparent;
}
.sidebar .sidebar-body .cart-items .item .quantity .quantity-remove{
    border: 0;
    padding: 4px 0px;
    background: transparent;
}


.sidebar .sidebar-body .cart-items .item .quantity input{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 40px;
    text-align: center;
    border: none;
    background: transparent;
}
.sidebar .sidebar-body .cart-items .item .quantity input::-webkit-inner-spin-button,
.sidebar .sidebar-body .cart-items .item .quantity input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.sidebar .sidebar-body .cart-items .item .item-remove{
    margin: auto 10px auto 0;
    padding: 11px;
    font-size: 22px;
    line-height: 14px;
}
.sidebar .sidebar-body .cart-items .item .item-remove a{
    color: #ff3d00;
}

.sidebar .sidebar-footer{
}
.sidebar .sidebar-footer .cart-information{
    background: #e7f9fa;
    margin:10px;
    border-radius: 4px;
    padding: 2px 10px;
}
.sidebar .sidebar-footer .cart-information .item{
    border-bottom: 1px white solid;
    line-height: 35px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.sidebar .sidebar-footer .cart-information .item:last-child{border-bottom: none;}
.sidebar .sidebar-footer .cart-information .item.bold{ font-family: IranSansBold}
.sidebar .sidebar-footer .cart-information .item.bolder{font-family: IranSansBolder}
.sidebar .sidebar-footer .cart-information .item .name{}
.sidebar .sidebar-footer .cart-information .item .value{}
.sidebar .sidebar-footer .cart-information .item .value.green{ color:#31bb35}
.sidebar .sidebar-footer .cart-print{
    border: #16c5d0 solid 1px;
    margin: 0 10px;
    border-radius: 4px;
    color: #16c5d0;
    font-size: 16px;
    line-height: 45px;
}
.sidebar .sidebar-footer .cart-print ion-icon{
    font-size: 25px;
    line-height: 45px;
    float: right;
    padding: 9px 10px 9px 15px;
}
.sidebar .sidebar-footer .cart-buttons{
    display: flex;
    margin: 10px;
}
.sidebar .sidebar-footer .cart-buttons .btn-buy{
    border-radius: 4px;
    background-color: #16c5d0;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    flex: 1;
}
.sidebar .sidebar-footer .cart-buttons .btn-remove{
    padding: 12px;
    color: #ff3d00;
    margin-right: 10px;
    font-size: 23px;
    height: 50px;
    border: 1px #ff3d00 solid;
    border-radius: 4px;
}



#search_filters,
#search_filters_brands,
#search_filters_suppliers {
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 1.563rem;
    background: #fff;
    padding: 1.563rem 1.25rem;
}
#search_filters .filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#search_filters .filter-header p.h6{
    color: #ff6c00;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
#search_filters .filter-header .clear-all-wrapper{}
#search_filters .filter-header .clear-all-wrapper .btn{
    font-size: 16px;
    color: #4e5158;
}

#search_filters .facet .title{
    justify-content: space-between;
    margin-bottom: 20px;
}
#search_filters .facet .facet-title,
#search_filters_brands .facet .facet-title,
#search_filters_suppliers .facet .facet-title {
    font-size: 15px;
    font-family: IranSansBold;
    margin-bottom: 0;
}
#search_filters .title[aria-expanded="true"] .collapse-icons .add {
    display: none;
}
#search_filters .title .collapse-icons .remove {
    display: none;
}
#search_filters .title[aria-expanded="true"] .collapse-icons .remove {
    display: block;
}

#search_filters .facet .title .collapse-icons{
    display: flex;
    margin: 0 !important;
    align-items: center;
}




#search_filters .facet,
#search_filters_brands .facet,
#search_filters_suppliers .facet {
    padding-top: 0.625rem;
    padding-bottom: 15px;
}

#search_filters .facet .collapse,
#search_filters_brands .facet .collapse,
#search_filters_suppliers .facet .collapse {
    display: none;
}

#search_filters .facet .collapse.in,
#search_filters_brands .facet .collapse.in,
#search_filters_suppliers .facet .collapse.in{
    display: block;
}
.collapsing {
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: 0.35s;
    transition-property: height;
}
#search_filters .facet .facet-label,
#search_filters_brands .facet .facet-label,
#search_filters_suppliers .facet .facet-label {
    text-align: right !important;
    display: flex;
    margin-bottom: 10px;
}
#search_filters .facet .facet-label .custom-checkbox{}
#search_filters .facet .facet-label .custom-checkbox input{ display: none}

#search_filters .facet .facet-label .custom-checkbox .ps-shown-by-js{
    width: 30px;
    height: 30px;
    display: block !important;
    margin-left: 15px;
    border-radius: 4px;
    border: 2px #a2a2a5 solid;
}
#search_filters .facet .facet-label.active .custom-checkbox .ps-shown-by-js{
    background: #ff6c00;
    border-color: #ff6c00;
}
#search_filters .facet .facet-label .custom-checkbox .ps-shown-by-js ion-icon{ display: none}
#search_filters .facet .facet-label.active .custom-checkbox .ps-shown-by-js ion-icon{
    display: block;
    font-size: 27px;
    color: #fff;
}

#search_filters .facet .facet-label a,
#search_filters_brands .facet .facet-label a,
#search_filters_suppliers .facet .facet-label a {
    color: #3a3a3a;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: IranSansBold;
}
#search_filters_brands .facet,
#search_filters_suppliers .facet {
    padding-top: 0;
}
#search_filters_brands .facet .facet-label,
#search_filters_suppliers .facet .facet-label {
    margin-bottom: 0.3125rem;
}

.sort-box{
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 1.563rem;
    background: #fff;
    padding: 1.563rem 1.25rem 10px;
}
.sort-box h2.title{font-size: 17px;color: #ff6c00;}
.sort-box ul{}
.sort-box ul li{
}
.sort-box ul li .radio{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px #a2a2a5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}
.sort-box ul li .radio.active{
    border: 2px #ff6c00 solid;
}
.sort-box ul li .radio.active:before{
    content: '';
    background: #ff6c00;
    width: 10px;
    height: 10px;
    display: block;
    z-index: 20;
    margin: 0px;
    border-radius: 50%;
}
.sort-box ul li a{
    margin: 20px 0;
    color: #3a3a3a;
    font-family: IranSansBold;
    font-size: 14px;
    display: flex;
    line-height: 25px;
}